.benefits {
  &__item {
    display: grid;
    justify-items: center;
    margin: 40px 0;
  }

  &__icon {
    width: 100px;
    height: 100px;
    padding-top: 20px;
    border-radius: 50%;
    font-size: 4rem;
    text-align: center;
    color: white;
    background-color: #fed136;
  }

  &__title {
    margin-top: 15px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 900;
  }

  &__text {
    margin-top: 10px;
    color: #777;
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 400;
    text-align: center;
  }
}
