:root {
  --menu-item-selected-width: 0px;
  --menu-item-selected-offsetLeft: 0px;
  --movable-item1-offsetLeft: 0px;
  --movable-item2-offsetLeft: 0px;
  --movable-item3-offsetLeft: 0px;
  --movable-item3-offsetLeft: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  scroll-behavior: smooth;
}

@keyframes bounce {
  80% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(0.9);
  }
  95% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
