.contact {
  height: 55vh;
  background-color: #222;
  background-image: url(../assets/img/map-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__item {
    display: grid;
    justify-items: center;
    margin: 40px 0;
  }

  &__icon {
    color: #fff;
    font-size: 2.8rem;
  }

  &__text {
    padding-top: 20px;
    color: #fed136;
  }
}

.heading {
  &__title--light {
    color: #fff;
  }
}
