@import 'mixins';

.info {
  &-inner {
    display: grid;
    gap: 5vh;
    justify-items: center;
    margin: 0 auto;
    padding-bottom: 5vh;
    max-width: 1400px;

    @include mq('lg') {
      grid-template-columns: 1fr 1fr;
    }

    &__description {
      width: 90%;

      @include mq('lg') {
        justify-self: start;
      }
    }

    &__text {
      font-size: 1.2rem;
      line-height: 1.8;
      text-align: justify;
    }

    &__text--strong {
      font-weight: 700;
    }

    &__subtitle {
      margin: 10px 0;
      font-size: 1.3rem;
      line-height: 1.5;
      text-align: justify;
      text-transform: uppercase;
    }
  }

  &--dark {
    background-color: #f7f7f7;
  }
}

.heading {
  @include mq('lg') {
    grid-column: 1/-1;
  }

  &__title {
    padding-top: 5vh;
    color: #333;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__subtitle {
    padding-top: 2vh;
    color: #777;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
  }
}
