.welcome {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 40vh;
  background-image: url(../assets/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 40% center;

  &__title {
    padding-top: 40px;
    color: #fff;
    font-weight: 400;
    font-size: 1.6rem;
    font-style: italic;
    letter-spacing: 1px;
    text-align: center;
  }

  &__subtitle {
    padding-top: 20px;
    color: #fff;
    font-weight: 900;
    font-size: 3.8rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }

  &__button {
    justify-self: center;
    margin-top: 20px;
    width: 60%;
    height: 50px;
    background-color: #fed136;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}
